.c-calculator {
  width: 200px;
  height: 250px;
  @include flex(
          $direction: column
  );

  @include e(display) {
    border: solid 1px gray;
    margin-bottom: 1px;
    flex: 0 0 50px;
  }

  @include e(keypad) {
    border: solid 1px gray;
    flex-grow: 1;
  }
}