%btn-default{
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  background: none;
  outline: none;
  position: relative;
  padding: 0;
  text-align: center;
  line-height: $global-line-height;
  border: solid 1px rgb(230, 230, 231);
  border-radius: 3px;
  text-decoration: none;
}