@mixin flex($align: '', $justify: '', $wrap: '', $direction: '') {
  display: flex;

  @if ($align != '') {
    align-items: $align;
  }

  @if($justify != ''){
    justify-content: $justify;
  }

  @if($wrap != ''){
    flex-wrap: $wrap;
  }

  @if($direction != ''){
    flex-direction: $direction;
  }
}